name: Golangci-Lint

on:
  push:
    branches:
    - main
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          cache: true
          cache-dependency-path: 'go.sum'
          go-version-file: 'go.mod'

      - run: go mod vendor

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4
